@import "bootstrap";

body{
  background-color: #f9f9f9;
}

h1{
  font-size: 30px;
}

.container .row{
    margin-top: 100px;
    color: black;
}

.panel-top{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border: 1px solid #eee;
}

li.panel-top{
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
}

.navbar {
    height: 50px;
    background: transparent;
    z-index: 10;
    font-weight: 600;
    background-color: #FFF;
    color:black;
    font-weight: 700;
    border-bottom: 1px;
    border-bottom-color: black;
}

a.logo-font{
  margin: auto;
  font-size: 21px;
}

div.center {
  width: 100%;
  text-align: center;
  margin: auto;
}

div.field{
  margin: 10px;
}

input#list_name{
  margin: 15px;
}

div.actions{
  margin: 10px;
}

p.note{
  font-size: 11px;
}
p.notice{
  text-align: center;
}
li.panel-body{
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.ul-unstyled{
  list-style: none; padding-left: 0;
}

.col-middle{
  vertical-align: middle;
  display: table-cell;
  float: none;
}
